<div class="container">
  <div class="row">
    <div class="col-md-12 text-center row-footer">
      <img src="../assets/images/003-youtube 2.png" />
      <img src="../assets/images/005-twitter 2.png" />
      <img src="../assets/images/006-linkedin 2.png" />
      <img src="../assets/images/Group 26.png" />
      <img src="../assets/images/Group 10.png" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="copyright">Aster CMI. All Rights Reserved</p>
    </div>
  </div>
</div>
