<section class="section-custom1">
  <app-header></app-header>
</section>
<section class="section-custom2">
  <div>
    <div class="container">
      <div class="row section-2-row">
        <div class="col-md-6 col-sm-6 col-xs-6 section1-img">
          <img src="../../assets/images/Group 3.png" class="img-fluid" />
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="about-right">
            <div class="para-border">
              <p>
                Bone Marrow Transplant (BMT) better known as haematopoietic stem
                cell transplant(HSCT) as bone marrow cells are transplanted
              </p>
            </div>
            <hr />
            <p>
              Replacement of diseased or defective marrow with marrow from a
              healthy donor
            </p>
            <hr />
            <p>
              Medicines and in certain situations radiotherapy as well is given
              to get rid of diseased marrow and bone marrow cells from healthy
              donor is given to replace it.
            </p>
            <hr />
            <p>
              IN autologous bone marrow transplant, high dose chemotherapy is
              given to kill cancer cells and child own marrow cells are given
              back
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-custom3">
  <h1>Doctors</h1>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6" *ngFor="let doc of doctorObj">
      <div class="card-deck">
        <div class="card mb-4 mt-5 text-center">
          <h2>{{ doc.title }}</h2>
          <img
            class="card-img-top"
            src="../../assets/images/Bitmap Copy.png"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ doc.name }}</h5>
            <p class="card-desig">{{ doc.designation }}</p>
            <p class="card-text">{{ doc.desc }}</p>
            <button class="btn app-btn-primary">READ MORE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-custom4">
  <h1>What are the types of Bone Marrow Transplant?</h1>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <ul class="transplant-ul" *ngFor="let transplant of transplantArr">
        <li>{{ transplant }}</li>
      </ul>
    </div>
  </div>
</section>

<section class="section-custom5">
  <h1>The warning signs of Immune deficiency</h1>
  <div class="row">
    <div
      class="col-md-2 col-sm-2 col-xs-2 immune-details"
      *ngFor="let immune of immuneObj"
    >
      <div>
        <img [src]="immune.imgPath" />
        <p>{{ immune.text }}</p>
      </div>
    </div>
  </div>
</section>

<section class="section-custom6">
  <div id="main">
    <div class="container">
      <div class="accordion" id="faq">
        <div class="card custom" *ngFor="let accData of accordianobj">
          <div class="card-header">
            <a
              href="#"
              class="btn btn-header-link"
              data-toggle="collapse"
              data-target="#key"
              aria-expanded="true"
              ><strong>{{ accData.title }}</strong></a
            >
          </div>

          <div id="key" class="collapse show" data-parent="#faq">
            <span class="caret"></span>
            <div class="card-body">
              <strong>{{ accData.detail }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-custom7">
  <h1>Testimonials</h1>
  <p>
    It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout.
  </p>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="demo" class="carousel slide" data-ride="carousel">
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div id="slider-box">
                <div class="container-custom">
                  <div class="imgBox">
                    <img src="../assets/images/slide/Bitmap.png" />
                  </div>
                  <div class="cara-name">
                    <strong>John Doe</strong>
                    <div class="cara-type">Software Engineer</div>
                  </div>
                </div>
                <p class="cara-para">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <div id="slider-box">
                <div class="container-custom">
                  <div class="imgBox">
                    <img src="../assets/images/slide/Bitmap.png" />
                  </div>
                  <div class="cara-name">
                    <strong>John Doe</strong>
                    <div class="cara-type">Software Engineer</div>
                  </div>
                </div>
                <p class="cara-para">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12 btn-testimonial">
        <button class="btn btn-primary">Book An Appointment</button>
      </div>
    </div>
  </div>
</section>

<section class="section-custom8">
  <app-footer></app-footer>
</section>
